<a href="https://colab.research.google.com/github/Sjoshi311/personal-health-and-well-being/blob/main/SONIA_21BTAI15/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program 2

In [ ]:
cor = input().split()
x1=int(cor[0])
x2=int(cor[1])
y1=int(cor[2])
y2=int(cor[3])
a=(x2-x1)**2
b=(y2-y1)**2
dist=(a+b)**0.5
print("distance between two points is: ",round(dist,3))

2 3 4 5
distance between two points is:  1.414

program 1

In [ ]:
var1 = 'this is a string'
var2 = 21
var3 = 3.0
var4 = [1,'hello',54,'23']
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

program 3 (i) odd even

In [ ]:
a=int(input())
if a%2==0:
  print("given number is even")
else:
  print("given number is odd")

99
given number is odd

program 3 (ii) armstrong number

In [ ]:
count=0
sum=0
a=int(input())
n=a
while(n!=0):
  n//=10
  count+=1
n=a
for i in range (1,count+1):
  r=n%10
  sum+=(r**count)
  n//=10
if a==sum:
  print("armstong!")
else:
  print("not an armstrong")

9474
armstong!

REVERSE COUNT

In [1]:
i=int(input())


while i!=-1:
  print(i)
  i=i-1

5
5
4
3
2
1
0

COUNT THE NUMBER OF CHARACTERS

In [2]:
a="Enter a string"
b={}
for i in a:
  b[i]=a.count(i)
print(b)

{'E': 1, 'n': 2, 't': 2, 'e': 1, 'r': 2, ' ': 2, 'a': 1, 's': 1, 'i': 1, 'g': 1}

LIST AND TUPLE

In [3]:
lists=["world","hello","bye"]
print(lists)

tuple=("world","hello","bye")
print(tuple)

for v in lists:
  print(v)
for v in tuple:
  print(v)

['world', 'hello', 'bye']
('world', 'hello', 'bye')
world
hello
bye
world
hello
bye